.plans-card {
    .card {
        background-color: rgb(255, 255, 255, .1);
        box-shadow: rgba(174, 170, 170, 0.35) 0px 5px 15px;
    }

    #card-after-purple-content {
        position: relative;
    }

    #card-after-purple-content::after {
        content: "Most popular";
        background-color: #AA83F9;
    }

    #card-after-cyen {
        position: relative;
    }

    #card-min-height {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }


    #card-after-cyen::after {
        background-color: #A8E8DE;
        content: "Recommended for you";
    }

    #card-after-purple-content::after,
    #card-after-cyen::after {
        position: absolute;
        left: -15px;
        top: 0;
        display: inline;
        writing-mode: vertical-lr;
        height: 100%;
        width: 4%;
        text-align: center;
        vertical-align: center;
        transform: rotate(180deg);
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }

}