<section class="plans-card">
    <div class="container">
        <img src="../../../../assets/images/chevronleft.png" class="img-fluid img-border" (click)="isNavigatePage()">
        <h1 class="text-white">Find the best plans for your travel…</h1>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card text-white" id="card-after-purple-content">
                    <div class="card-body">
                        <div class="plan-name d-flex justify-content-between">
                            <h5>Plan name</h5>
                            <img src="" alt="">
                        </div>
                        <div class="plan-details">
                            <p>Plan details</p>
                            <span>
                                <img src="../../../../assets/images/Wifi.png" alt="">
                                <span class="ms-2">
                                    5GB
                                </span>
                            </span>
                            <span>
                                <img src="../../../../assets/images/Phone.png" alt="">
                                <span class="ms-2 not-application">N/A</span>
                            </span>
                            <span>
                                <img src="../../../../assets/images/Message.png" alt="">
                                <span class="ms-2 not-application">N/A</span>
                            </span>
                        </div>
                        <div class="validity">
                            <p>validity</p>
                            <span></span><span>5GB</span>
                        </div>
                        <div class="price d-flex justify-content-between">
                            <p>$9</p>
                            <button class="btn btn-green text-white">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card text-white" id="card-after-cyen">
                    <div class="card-body">
                        <div class="plan-name d-flex justify-content-between">
                            <h5>Plan name</h5>
                            <img src="" alt="">
                        </div>
                        <div class="plan-details">
                            <p>Plan details</p>
                            <span>
                                <img src="../../../../assets/images/Wifi.png" alt="">
                                <span class="ms-2">
                                    5GB
                                </span>
                            </span>
                            <span>
                                <img src="../../../../assets/images/Phone.png" alt="">
                                <span class="ms-2 not-application">N/A</span>
                            </span>
                            <span>
                                <img src="../../../../assets/images/Message.png" alt="">
                                <span class="ms-2 not-application">N/A</span>
                            </span>
                        </div>
                        <div class="validity">
                            <p>validity</p>
                            <span></span><span>5GB</span>
                        </div>
                        <div class="price d-flex justify-content-between">
                            <p>$9</p>
                            <button class="btn btn-green text-white">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-3 col-ld-3">
                <div class="card text-white" id="card-min-height">
                    <div class="card-body">
                        <div class="plan-name d-flex justify-content-between">
                            <h5>Plan name</h5>
                            <img src="" alt="">
                        </div>
                        <div class="plan-details d-flex justify-content-between">
                            <div>
                                <p>Plan details</p>
                                <p>
                                    <span>
                                        <img src="../../../../assets/images/Wifi.png" alt="">
                                        <span class="ms-2">
                                            5GB
                                        </span>
                                    </span>
                                </p>
                                <p>
                                    <span>
                                        <img src="../../../../assets/images/Phone.png" alt="">
                                        <span class="ms-2 not-application">N/A</span>
                                    </span>
                                </p>
                                <p>
                                    <span>
                                        <img src="../../../../assets/images/Message.png" alt="">
                                        <span class="ms-2 not-application">N/A</span>
                                    </span>
                                </p>
                            </div>
                            <div class="validity">
                                <p>validity</p>
                                <span></span><span>5GB</span>
                            </div>
                        </div>

                        <div class="price ">
                            <p class="text-end">$9</p>
                            <button class="btn btn-green text-white">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-ld-3">
                <div class="card text-white" id="card-min-height">
                    <div class="card-body">
                        <div class="plan-name d-flex justify-content-between">
                            <h5>Plan name</h5>
                            <img src="" alt="">
                        </div>
                        <div class="plan-details d-flex justify-content-between">
                            <div>
                                <p>Plan details</p>
                                <p>
                                    <span>
                                        <img src="../../../../assets/images/Wifi.png" alt="">
                                        <span class="ms-2">
                                            5GB
                                        </span>
                                    </span>
                                </p>
                                <p>
                                    <span>
                                        <img src="../../../../assets/images/Phone.png" alt="">
                                        <span class="ms-2 not-application">N/A</span>
                                    </span>
                                </p>
                                <p>
                                    <span>
                                        <img src="../../../../assets/images/Message.png" alt="">
                                        <span class="ms-2 not-application">N/A</span>
                                    </span>
                                </p>
                            </div>
                            <div class="validity">
                                <p>validity</p>
                                <span></span><span>5GB</span>
                            </div>
                        </div>

                        <div class="price ">
                            <p class="text-end">$9</p>
                            <button class="btn btn-green text-white">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-ld-3">
                <div class="card text-white" id="card-min-height">
                    <div class="card-body">
                        <div class="plan-name d-flex justify-content-between">
                            <h5>Plan name</h5>
                            <img src="" alt="">
                        </div>
                        <div class="plan-details d-flex justify-content-between">
                            <div>
                                <p>Plan details</p>
                                <p>
                                    <span>
                                        <img src="../../../../assets/images/Wifi.png" alt="">
                                        <span class="ms-2">
                                            5GB
                                        </span>
                                    </span>
                                </p>
                                <p>
                                    <span>
                                        <img src="../../../../assets/images/Phone.png" alt="">
                                        <span class="ms-2 not-application">N/A</span>
                                    </span>
                                </p>
                                <p>
                                    <span>
                                        <img src="../../../../assets/images/Message.png" alt="">
                                        <span class="ms-2 not-application">N/A</span>
                                    </span>
                                </p>
                            </div>
                            <div class="validity">
                                <p>validity</p>
                                <span></span><span>5GB</span>
                            </div>
                        </div>

                        <div class="price ">
                            <p class="text-end">$9</p>
                            <button class="btn btn-green text-white">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-ld-3">
                <div class="card text-white" id="card-min-height">
                    <div class="card-body">
                        <div class="plan-name d-flex justify-content-between">
                            <h5>Plan name</h5>
                            <img src="" alt="">
                        </div>
                        <div class="plan-details d-flex justify-content-between">
                            <div>
                                <p>Plan details</p>
                                <p>
                                    <span>
                                        <img src="../../../../assets/images/Wifi.png" alt="">
                                        <span class="ms-2">
                                            5GB
                                        </span>
                                    </span>
                                </p>
                                <p>
                                    <span>
                                        <img src="../../../../assets/images/Phone.png" alt="">
                                        <span class="ms-2 not-application">N/A</span>
                                    </span>
                                </p>
                                <p>
                                    <span>
                                        <img src="../../../../assets/images/Message.png" alt="">
                                        <span class="ms-2 not-application">N/A</span>
                                    </span>
                                </p>
                            </div>
                            <div class="validity">
                                <p>validity</p>
                                <span></span><span>5GB</span>
                            </div>
                        </div>

                        <div class="price ">
                            <p class="text-end">$9</p>
                            <button class="btn btn-green text-white">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>