section#country-section {
    height: 50vh;

    li {
        cursor: pointer;
    }

    .tab-width {
        width: 70%;
        margin-left: 1.5rem;
    }

    ::ng-deep div#mat-tab-label-0-0,
    ::ng-deep div#mat-tab-label-0-1 {
        color: white;
    }

    ::ng-deep .mat-tab-labels {
        width: 100% !important;
        border: 1px solid white !important;
        border-radius: 33px !important;
        overflow: hidden;
        margin-top: 2rem;
        padding: 10px;
    }

    ::ng-deep .mat-tab-label-active {
        background: #BFA2FA;
        border-radius: 33px !important;
    }

    ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: transparent;
    }
}