section#anxious-about-section {
    height: 1000px;
    overflow: hidden;

    li {
        cursor: pointer;
    }

    .tab-width {
        width: 80%;
        margin-left: 1.5rem;
    }

    ::ng-deep div#mat-tab-label-0-0,
    ::ng-deep div#mat-tab-label-0-1 {
        color: white;
    }

    ::ng-deep .mat-tab-labels {
        width: 100% !important;
        border: 1px solid white !important;
        border-radius: 33px !important;
        overflow: hidden;
        margin-top: 2rem;
        padding: 10px;
    }

    ::ng-deep .mat-tab-label-active {
        background: #BFA2FA;
        border-radius: 33px !important;
    }

    ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: transparent;
    }

    .m-left {
        margin-left: 5rem;
        font-size: 1.25rem;
    }

    .anxious-about-head {
        // margin-bottom: 1rem;
        margin-top: 3rem;
        transform: translateY(5rem);

        h1 {
            margin-bottom: 2rem;
        }

        h1,
        h2 {
            font-size: 4rem;
            color: white;
        }

        p {
            font-size: 1.4rem;
            color: #BFA2FA;

        }
    }



}


figure figcaption {
    position: absolute;
    left: 6%;
    top: 20%;
    width: 90%;
}

::ng-deep .mat-tab-label-container {
    flex-grow: 0 !important;
    margin: 0 auto;
    margin-bottom: 1rem;
}

#popular-destinations {
    padding: 4rem 4rem 0 0;
}

.anxious-inputElement-Width {
    width: 45%;
    margin: 0 auto;
}

.postion-column-element {
    position: relative;
    z-index: 55555;
    transform: translateY(18rem);
}

.anxious-inputElement-Width h4 {
    margin-right: 10rem;
}

#serchInput {
    border-left: none !important;
}