<section id="anxious-about-section">
    <div class="container">
        <div class="anxious-about-head">
            <h1 class="text-capitalize text-center">Anxious about staying </h1>
            <h2 class="text-capitalize text-center">connected on your trips?</h2>
            <p class=" mt-5 text-center">Our e-SIM got you covered, anywhere you go!</p>
        </div>
        <div class="row">
            <div class="col-12 postion-column-element">
                <div class="anxious-inputElement-Width">
                    <h3 class=" text-white m-left">where are you travelling?</h3>
                    <app-tui-input (searchKeyEvent)="searchEvent($event)" [search]="search"></app-tui-input>
                </div>
            </div>
            <div class="col-md-6 mx-auto d-flex justify-content-center">
                <mat-tab-group class="tab-width">
                    <mat-tab label="Country">
                        <figure>
                            <img src="../../../../assets/images/mobile.png" alt="Mobile" title="Mobile">
                            <figcaption>
                                <ul class="list-group" *ngIf="countries; else template">
                                    <li class="list-group-item" *ngFor="let country of countries | filter:search"
                                        (click)="onSingleCountryClick($event)">
                                        <p class="text-uppercase">
                                            {{country?.name.common}}
                                        </p>
                                    </li>
                                </ul>
                                <ng-template #template>
                                    <p class="alert alert-danger text-uppercase mt-3">there is no data avilable</p>
                                </ng-template>
                            </figcaption>
                        </figure>
                    </mat-tab>
                    <mat-tab label="Region">
                        <h5 class="text-uppercase text-center text-white my-3">where are you travelling?</h5>
                        <figure>
                            <img src="../../../../assets/images/mobile.png" alt="Mobile" title="Mobile">
                            <figcaption>
                                <ul class="list-group" *ngIf="countries;">
                                    <li class="list-group-item">NORTHERN REGION</li>
                                    <li class="list-group-item">NORTH-EASTERN REGION</li>
                                    <li class="list-group-item">EASTERN REGION</li>
                                    <li class="list-group-item">CENTRAL REGION</li>
                                    <li class="list-group-item">WESTERN REGION</li>
                                    <li class="list-group-item">SOUTHERN REGION</li>
                                </ul>
                            </figcaption>
                        </figure>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</section>


<section id="popular-destinations">

</section>