#days-section,
#card-section {
    background-color: black;

    ul {
        width: 80% !important;

        li {
            cursor: pointer;
        }
    }

    .activee {
        background: #009B82 !important;
    }

    .btn {
        position: absolute;
        bottom: 4%;
        left: 25%;

        .btn-green {
            background-color: #177667;
            width: 14rem;
        }

        .margin-left {
            margin-left: 1rem;
        }

        span {
            color: #FFFFFF;
            font-weight: 400;
            font-size: 16px;
        }
    }
}

#card-section {

    #card,
    #card-2 {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 1rem;
        overflow: hidden;

        background-repeat: no-repeat;
        color: white;
        font-weight: 500;
    }

    #card {
        background: linear-gradient(to right, #0F4F45, rgb(23, 118, 103, .5)),
            url(../../../../assets/images/line.png);
    }

    #card-2 {
        background: linear-gradient(to right, #9564F8, rgb(59, 37, 103, .3)),
            url(../../../../assets/images/line.png);
    }

    .card-head .btn-green {
        background-color: #009B82;
        border: none;
        transform: translateX(42px);
        width: 8rem;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .not-application {
        color: rgb(0, 0, 0, .6);
        font-size: 16px;
    }

    // .background-light{
    //     position: relative;
    // }

    // .background-light::before{
    //     content: "";
    //     position: absolute;
    //     background-color: red;
    //     width: 100%;
    //     height: 6rem;
    //     top : 0;
    //     left : 0;
    // }
}