
#navbar{
    // position: fixed;
    // width: 100%;
    // z-index: 555555;
    a{
        color : white;
    }
    background-color: rgb(255, 255, 255, .1);   
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
    .btn-green{
        width: 5rem;
    }
}

