a{
    color : white !important;
}

#anxious-about-section{
    padding-top : 5rem;
    padding-bottom: 5rem;
    h1{
        margin-bottom: 2rem;
    }
    h1,h2{
        font-size: 4rem;
        color: white;
    }
    p{
        font-size: 1.4rem;
        color :  #BFA2FA;

    }
}