/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: black;
}

#days-section input,
#days-section li,
#anxious-about-section input,
#anxious-about-section li {
    background: #4C4C4E !important;
    border: 1px solid #438278 !important;
    border-left: none !important;
    color: #BABAC5 !important;
    margin-bottom: 8px;
}

figure {
    position: relative;
    overflow: hidden;

    figcaption {
        position: absolute;
        top: 0;
        top: 5%;
        width: 100%;
    }
}

.btn-green {
    background-color: #177667 !important;
    width: 14rem;
    color: white !important;
}

.input-group-text {
    background: #4C4C4E !important;
    border: 1px solid #438278 !important;
    color: #BABAC5 !important;
    margin-bottom: 8px;
    font-weight: 400;
}

.img-border {
    border: 1px solid white;
    padding: 1rem;
    border-radius: 30px;
    margin-bottom: 2rem;
    cursor: pointer;
}